.header {
    border-top: .25rem solid #e20074;
    border-bottom: 1px solid #ededed;
    height: 80px;
    width: 80%;
    top: 0;
    overflow: hidden;
    position: fixed;
    box-shadow: 0 0 5px #d0d0d0;
    z-index: 10;
}
