<div class="header" style="display: block;">
    <span style="font-weight: 700;font-size: 4rem;line-height: 4rem;">MP</span>
    <span>MyPark</span>
    <div class="uk-inline" style="float: right;" *ngIf="loggedIn">
        <button (click)="openDropdown()" class="uk-button uk-button-default header-item" type="button">
          <span style="font-size: 1.25rem; line-height: 1.25;">
            <span uk-icon="user" style="margin-right: .25rem;"></span>
            <span>{{ username }}</span>
            <span [attr.uk-icon]="dropdownOpened ? 'chevron-up' : 'chevron-down'" style="margin-left: .125rem"></span>
          </span>
        </button>
        <div uk-dropdown="mode: click">
            <span class="dropdown-item">Benutzerdaten verwalten
              <span uk-icon="cog" class="icon"></span>
            </span>
            <span class="dropdown-item" (click)="logout()">Abmelden
              <span uk-icon="close" class="icon"></span>
            </span>
        </div>
    </div>
</div>