.header {
    border-top: .25rem solid #e20074;
    border-bottom: 1px solid #ededed;
    height: 80px;
    width: 100%;
    top: 0;
    position: fixed;
    box-shadow: 0 0 5px #d0d0d0;
    z-index: 10;
    background-color: white;
}

.icon {
    color: #e20074;
}

.uk-dropdown {
    left: -110px !important;
    width: 275px !important;
    top: 60px !important;
}

.header-item {
    border: none;
    margin-top: 2rem;
    margin-right: 0.25rem;
    text-transform: none;
    line-height: 0;
}

.header-item:hover {
    color: #e20074;
}

.dropdown-item {
    display: block;
    float: right;
    cursor: pointer;
}

.dropdown-item:hover {
    color: #e20074;
}

.header-menu {
  display: none;
  position: relative;
  top: 20px;
  margin-right: 10px;
}

.uk-offcanvas-bar {
  position: fixed;
  width: 100%;
  background: white;
}

.uk-close {
  color: black;
}

.user-icon {
  display: inline-block;
  border-radius: 30px;
  padding: 4px;
  border: 1px solid black;
  margin-right: .5rem;
}

.navigation-header {
  font-size: 1.25rem;
  line-height: 1.25;
  color: black;
  display: block;
  margin: .5rem 0;
  color: black;
}

.navigation-header-top {
  border-top: 2px solid #e20074;
}

@media(max-width: 960px) {
  .header-menu {
    display: block;
  }

  .header-item {
    display: none;
  }

  .icon {
    color: black;
  }
}
