<div class="uk-container" style="text-align: center;">
    <h1>Anmelden</h1>

    <span style="display: block;" class="mb-4">
      <span class="icon" uk-icon="user"></span>
    <input type="text" placeholder="Benutzername" />
    </span>
    <span style="display: block;" class="mb-4">
      <span class="icon" uk-icon="lock"></span>
    <input type="password" placeholder="Passwort">
    </span>

    <mp-button title="Anmelden" style="display: block;"></mp-button>

    <a style="display: block;">Passwort vergessen</a>
    <a style="display: block;">Noch keinen Account? Jetzt Registrieren</a>
</div>
