<div class="uk-container" style="text-align: center;">
  <h1>Anmelden</h1>

  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <span class="input-group mb-2">
      <span class="input-group">
        <span class="icon" uk-icon="user"></span>
        <input type="email" placeholder="E-Mail Adresse" formControlName="username"/>
      </span>
      <span *ngIf="loginForm.get('username').invalid && (loginForm.get('username').dirty || submitted)"
            class="form-error-message">
        <span *ngIf="loginForm.get('username').errors.required">
          Bitte geben Sie eine E-Mail Adresse oder einen Benutzernamen ein.
        </span>
        <span *ngIf="loginForm.get('username').errors.email">Bitte geben Sie eine korrekte E-Mail Adresse ein.</span>
      </span>
    </span>
    <span class="input-group mb-2">
      <span class="input-group">
        <span class="icon" uk-icon="lock"></span>
        <input type="password" placeholder="Passwort" formControlName="password">
      </span>
      <span *ngIf="loginForm.get('password').invalid && (loginForm.get('password').dirty || submitted)"
            class="form-error-message">
        <span *ngIf="loginForm.get('password').errors.required">Bitte geben Sie einen Passwort ein.</span>
      </span>
    </span>
    <span *ngIf="!isLoading" mp-error-message [message]="message"></span>
    <mp-button *ngIf="!isLoading" title="Anmelden" style="display: block;"></mp-button>
    <mp-loading-spinner [isLoading]="isLoading"></mp-loading-spinner>
  </form>

  <a class="link mt-2" style="display: block;" [routerLink]="['/reset-password']">Passwort vergessen</a>
  <a class="link mt-2" style="display: block;" [routerLink]="['/registration']">
    Noch keinen Account? Jetzt Registrieren
  </a>
</div>
