<div class="uk-container" style="text-align: center;">
  <h1>Passwort ändern</h1>
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div uk-grid>
      <div class="uk-width-1-2@m">
        <span class="input-group">
          <span class="input-group">
            <span class="input-label">bisheriges Passwort</span>
            <input type="password" placeholder="Bisheriges Passwort" formControlName="oldPassword">
            <span style="padding-right: 24px;" class="icon">&nbsp;</span>
            <mp-info-icon text="bisheriges Passwort"></mp-info-icon>
          </span>
          <span *ngIf="form.get('oldPassword').invalid && (form.get('oldPassword').dirty || submitted)"
                class="form-error-message">
            <span *ngIf="form.get('oldPassword').errors.required">Bitte geben Sie ein Passwort ein.</span>
            <span *ngIf="form.get('oldPassword').errors.invalid">Bitte geben Sie ein Passwort ein.</span>
          </span>
        </span>
        <span class="input-group mt-2">
          <span class="input-group">
            <span class="input-label">neues Passwort</span>
            <input type="password" placeholder="Passwort" formControlName="password">
            <span *ngIf="form.get('password').pristine || form.get('password').invalid" uk-icon="close"
                  class="icon"></span>
            <span *ngIf="form.get('password').dirty && form.get('password').valid" uk-icon="check" class="icon"
                  style="color: green;"></span>
            <mp-info-icon text="mind. 8 Zeichen/ mind. ein Groß- und Kleinbuchstabe/ mind. eine Zahl"></mp-info-icon>
          </span>
          <span *ngIf="form.get('password').invalid && (form.get('password').dirty || submitted)"
                class="form-error-message">
            <span *ngIf="form.get('password').errors.required">Bitte geben Sie ein Passwort ein.</span>
            <span *ngIf="form.get('password').errors.invalid">Bitte geben Sie ein gültiges Passwort ein.</span>
          </span>
        </span>
        <span class="input-group mt-2">
          <span class="input-group">
            <span class="input-label">neues Passwort wiederholen</span>
            <input type="password" placeholder="Passwort wiederholen" formControlName="passwordRepeat">
            <span *ngIf="form.get('passwordRepeat').pristine || form.get('passwordRepeat').invalid"
                  uk-icon="close" class="icon"></span>
            <span *ngIf="form.get('passwordRepeat').dirty && form.get('passwordRepeat').valid"
                  uk-icon="check" class="icon" style="color: green;"></span>
            <mp-info-icon text="Passwort erneut eingeben"></mp-info-icon>
          </span>
          <span *ngIf="form.get('passwordRepeat').invalid && (form.get('passwordRepeat').dirty || submitted)"
                class="form-error-message">
            <span *ngIf="form.get('passwordRepeat').errors.required">Bitte geben Sie ein Passwort ein.</span>
            <span *ngIf="form.get('passwordRepeat').errors.invalid">Bitte geben Sie ein gültiges Passwort ein.</span>
            <span *ngIf="form.get('passwordRepeat').errors.mustMatch">
              Bitte geben Sie ein Passwort ein, welches dem obigen entspricht.
            </span>
          </span>
        </span>
        <span mp-error-message [message]="message"></span>
        <mp-button title="speichern" class="input-group mt-2"></mp-button>
      </div>
    </div>
  </form>
</div>
