<div class="uk-container" style="text-align: center;">
  <h1>Neues Passwort setzen</h1>
  <div *ngIf="user !== undefined; else invalidToken">
    <p>Hallo {{ user.username }}, Sie können nun ein neues Passwort setzen.</p>
    <form [formGroup]="form" (ngSubmit)="submit()">
      <span class="input-group">
        <span class="input-group">
          <span class="icon" uk-icon="lock"></span>
          <input type="password" placeholder="Passwort" formControlName="password">
          <span *ngIf="form.get('password').pristine || form.get('password').invalid" uk-icon="close"
                class="icon"></span>
          <span *ngIf="form.get('password').dirty && form.get('password').valid" uk-icon="check" class="icon"
                style="color: green;"></span>
          <mp-info-icon text="mind. 8 Zeichen/ mind. ein Groß- und Kleinbuchstabe/ mind. eine Zahl"></mp-info-icon>
        </span>
        <span *ngIf="form.get('password').invalid && (form.get('password').dirty || submitted)"
              class="form-error-message">
          <span *ngIf="form.get('password').errors.required">Bitte geben Sie ein Passwort ein.</span>
          <span *ngIf="form.get('password').errors.invalid">Bitte geben Sie ein gültiges Passwort ein.</span>
        </span>
      </span>
      <span class="input-group mt-2">
        <span class="input-group">
          <span class="icon" uk-icon="lock"></span>
          <input type="password" placeholder="Passwort wiederholen" formControlName="passwordRepeat">
          <span *ngIf="form.get('passwordRepeat').pristine || form.get('passwordRepeat').invalid"
                uk-icon="close" class="icon"></span>
          <span *ngIf="form.get('passwordRepeat').dirty && form.get('passwordRepeat').valid"
                uk-icon="check" class="icon" style="color: green;"></span>
          <mp-info-icon text="Passwort erneut eingeben"></mp-info-icon>
        </span>
        <span *ngIf="form.get('passwordRepeat').invalid && (form.get('passwordRepeat').dirty || submitted)"
              class="form-error-message">
          <span *ngIf="form.get('passwordRepeat').errors.required">Bitte geben Sie ein Passwort ein.</span>
          <span *ngIf="form.get('passwordRepeat').errors.invalid">Bitte geben Sie ein gültiges Passwort ein.</span>
          <span *ngIf="form.get('passwordRepeat').errors.mustMatch">
            Bitte geben Sie ein Passwort ein, welches dem obigen entspricht.
          </span>
        </span>
      </span>
      <mp-button title="speichern" class="input-group mt-2"></mp-button>
    </form>
  </div>
</div>

<ng-template #invalidToken>
  <div>
    <p>Der angegebene Token ist ungültig.</p>
  </div>
</ng-template>
