<div class="uk-container" style="text-align: center;">
    <h1>Neues Passwort setzen</h1>
    <div *ngIf="user !== undefined; else invalidToken">
        <p>Hallo {{ user.username }}, Sie können nun ein neues Passwort setzen.</p>
        <form [formGroup]="form" (ngSubmit)="submit()">
            <span style="display: block;" class="mb-4">
                            <span class="icon" uk-icon="lock"></span>
            <input type="password" required placeholder="Passwort" formControlName="password">
            </span>
            <span style="display: block;" class="mb-4">
                            <span class="icon" uk-icon="lock"></span>
            <input type="password" required placeholder="Passwort wiederholen" formControlName="passwordRepeat">
            </span>
            <mp-button title="speichern" style="display: block;"></mp-button>
        </form>
    </div>
</div>

<ng-template #invalidToken>
    <div>
        <p>Der angegebene Token ist ungültig.</p>
    </div>
</ng-template>