<div class="uk-container" style="text-align: center;">
    <h1>Passwort zurücksetzen</h1>
    <div style="display: block; width: 400px; text-align: center; margin: 0 auto;" class="mb-4">
        <p>An die eingegebene E-Mail-Adresse wird ein Link zum Zurücksetzen des Passworts gesendet.</p>
    </div>
    <span style="display: block;" class="mb-4">
      <span class="icon" uk-icon="mail"></span>
    <input type="password" placeholder="E-Mail Adresse">
    </span>
    <div>
        <mp-button [routerLink]="['/login']" title="abbrechen"></mp-button>
        <mp-button title="Passwort anfordern"></mp-button>
    </div>
</div>
