<div class="uk-container" style="text-align: center;">
  <h1>Passwort zurücksetzen</h1>
  <div style="display: block; max-width: 400px; text-align: center; margin: 0 auto;" class="mb-4">
    <p>An die eingegebene E-Mail-Adresse wird ein Link zum Zurücksetzen des Passworts gesendet.</p>
  </div>
  <form [formGroup]="form" (ngSubmit)="resetPassword()">
    <span style="display: block;" class="mb-4">
      <span class="icon" uk-icon="mail"></span>
      <input type="email" placeholder="E-Mail Adresse" formControlName="email">
    </span>
    <span mp-error-message [message]="message"></span>
    <div>
      <mp-button [routerLink]="['/login']" [title]="'abbrechen'"></mp-button>
      <mp-button type="submit" title="Link anfordern"></mp-button>
    </div>
  </form>
</div>
