<div class="uk-container">
  <h1>Benutzerdaten verwalten</h1>
  <form [formGroup]="form" (ngSubmit)="saveChanges()">
    <div uk-grid>
      <div class="uk-width-1-2@m">
        <p class="text-align-center">Pflichtfelder*</p>
        <span class="input-group">
          <span class="input-group">
            <span class="input-label">Vorname</span>
            <input type="text" placeholder="Vorname" formControlName="firstName">
            <mp-info-icon text="Vorname"></mp-info-icon>
          </span>
          <span *ngIf="form.get('firstName').invalid && (form.get('firstName').dirty || submitted)"
                class="form-error-message">
            Bitte geben Sie einen Vornamen ein.
          </span>
        </span>
        <span class="input-group">
          <span class="input-group">
            <span class="input-label">Nachname</span>
            <input type="text" placeholder="Nachname" formControlName="lastName">
            <mp-info-icon text="Nachname"></mp-info-icon>
          </span>
          <span *ngIf="form.get('lastName').invalid && (form.get('lastName').dirty || submitted)"
                class="form-error-message">
            Bitte geben Sie einen Nachnamen ein.
          </span>
        </span>
        <span class="input-group">
          <span class="input-group">
            <span class="input-label">Benutzername</span>
            <input type="text" placeholder="Benutzername" formControlName="username">
            <mp-info-icon text="frei wählbarer Benutzername z.B. 'Max_Mustermann'"></mp-info-icon>
          </span>
          <span *ngIf="form.get('username').invalid && (form.get('username').dirty || submitted)"
                class="form-error-message">
            Bitte geben Sie einen Benutzernamen ein.
          </span>
        </span>
        <span class="input-group">
          <span class="input-group">
            <span class="input-label">E-Mail Adresse</span>
            <input type="email" placeholder="E-Mail Adresse" formControlName="email">
            <mp-info-icon text="Firmen E-Mail-Adresse"></mp-info-icon>
          </span>
          <span *ngIf="form.get('email').invalid && (form.get('email').dirty || submitted)" class="form-error-message">
            <span *ngIf="form.get('email').errors.required">Bitte geben Sie eine E-Mail Adresse ein.</span>
            <span *ngIf="form.get('email').errors.email">Bitte geben Sie eine gültige E-Mail Adresse ein.</span>
          </span>
        </span>
      </div>
      <div class="uk-width-1-2@m">
        <p class="text-align-center">Optionale Felder</p>
        <span class="input-group">
          <span class="input-label">private E-Mail Adresse</span>
          <input type="email" placeholder="E-Mail Adresse">
          <mp-info-icon text="private E-Mail-Adresse"></mp-info-icon>
        </span>
        <p class="text-align-center">Passwort *</p>
        <span class="input-group">
          <span class="input-group">
            <span class="input-label">Passwort</span>
            <input type="password" placeholder="Passwort" formControlName="password">
            <span *ngIf="form.get('password').pristine || form.get('password').invalid" uk-icon="close" class="icon"></span>
            <span *ngIf="form.get('password').dirty && form.get('password').valid" uk-icon="check" class="icon"
                  style="color: green;"></span>
            <mp-info-icon text="mind. 8 Zeichen/ mind. ein Groß- und Kleinbuchstabe/ mind. eine Zahl"></mp-info-icon>
          </span>
          <span *ngIf="form.get('password').invalid && (form.get('password').dirty || submitted)"
                class="form-error-message">
            <span *ngIf="form.get('password').errors.required">Bitte geben Sie ein Passwort ein.</span>
            <span *ngIf="form.get('password').errors.invalid">Bitte geben Sie ein gültiges Passwort ein.</span>
          </span>
        </span>
        <span class="input-group">
          <span class="input-group">
            <span class="input-label">&nbsp;</span>
            <input type="password" placeholder="Passwort wiederholen" formControlName="passwordRepeat">
            <span *ngIf="form.get('passwordRepeat').pristine || form.get('passwordRepeat').invalid"
                  uk-icon="close" class="icon"></span>
            <span *ngIf="form.get('passwordRepeat').dirty && form.get('passwordRepeat').valid"
                  uk-icon="check" class="icon" style="color: green;"></span>
            <mp-info-icon text="Passwort erneut eingeben"></mp-info-icon>
          </span>
          <span *ngIf="form.get('passwordRepeat').invalid && (form.get('passwordRepeat').dirty || submitted)"
                class="form-error-message">
            <span *ngIf="form.get('passwordRepeat').errors.required">Bitte geben Sie ein Passwort ein.</span>
            <span *ngIf="form.get('passwordRepeat').errors.invalid">Bitte geben Sie ein gültiges Passwort ein.</span>
            <span *ngIf="form.get('passwordRepeat').errors.mustMatch">
              Bitte geben Sie ein Passwort ein, welches dem obigen entspricht.
            </span>
          </span>
        </span>
      </div>

      <span style="text-align: center; width: 100%" class="mt-2" mp-error-message [message]="message"></span>
      <div class="mt-2 input-group">
        <mp-button type="submit" title="speichern"></mp-button>
      </div>
    </div>
  </form>
</div>
