<div style="text-align: center">
  <h1>Abwesenheit erstellen</h1>
  <form [formGroup]="form" (ngSubmit)="createAbsence()">
    <span class="input-group mb-2">
      <span class="input-group">
        von
        <input type="date" placeholder="Tag" formControlName="start"/>
        <span class="icon" uk-icon="calendar"></span>
      </span>
      <span *ngIf="form.get('start').invalid && (form.get('start').dirty || submitted)"
            class="form-error-message">
        <span *ngIf="form.get('start').errors.required">Bitte geben Sie ein Beginn ein.</span>
        <span *ngIf="form.get('start').errors.invalid">Bitte geben Sie ein gültiges Datum ein.</span>
        <span *ngIf="form.get('start').errors.required">Bitte geben Sie ein Beginn ein.</span>
        <span *ngIf="form.get('start').errors.future">Bitte geben Sie ein Datum in der Zukunft ein.</span>
      </span>
    </span>
    <span class="input-group mb-2">
      <span class="input-group">
        bis
        <input type="date" placeholder="Tag" formControlName="end"/>
        <span class="icon" uk-icon="calendar"></span>
      </span>
      <span *ngIf="form.get('end').invalid && (form.get('end').dirty || submitted)"
            class="form-error-message">
        <span *ngIf="form.get('end').errors.required">Bitte geben Sie ein Ende ein.</span>
        <span *ngIf="form.get('end').errors.invalid">Bitte geben Sie ein gültiges Datum ein.</span>
        <span *ngIf="form.get('end').errors.after">Bitte geben Sie ein Ende ein, das nach dem Beginn liegt.</span>
        <span *ngIf="form.get('end').errors.future">Bitte geben Sie ein Datum in der Zukunft ein.</span>
      </span>
    </span>
    <mp-loading-spinner [isLoading]="isLoading"></mp-loading-spinner>
    <mp-button *ngIf="!isLoading" title="Abwesenheit erstellen"></mp-button>
  </form>
</div>
