<h1>Meine Abwesenheiten</h1>
<div class="table-container" *ngIf="!isLoading">
  <table>
    <thead>
      <tr>
        <th scope="col">Start</th>
        <th scope="col">Ende</th>
        <th scope="col">Aktionen</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let absence of absences">
        <td>
          <span>{{ absence.start | date: 'EEE, dd.MM.yyyy' }}</span>
        </td>
        <td>
          <span>{{ absence.start | date: 'EEE, dd.MM.yyyy' }}</span>
        </td>
        <td>
          <mp-button (click)="deleteAbsence(absence)" icon="trash" title="löschen"></mp-button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<mp-loading-spinner [isLoading]="isLoading"></mp-loading-spinner>
<mp-confirmation (onConfirm)="confirmDeleteAbsence($event)" [configuration]="deleteModalAbsenceConfiguration"></mp-confirmation>
