<h1>Übersicht der Parkplätze</h1>
<div class="mt-1 mb-1">
    <span>Es gibt heute noch 2 freie Parkplätze, die per Sofort-Buchung reserviert werden können.</span>
    <mp-button icon="clock" title="Sofort-Buchung"></mp-button>
</div>
<div class="table-container">
    <table>
        <thead>
            <tr>
                <th scope="col" width="112px;"><span>Parkplatz</span></th>
                <th scope="col" width="80px;">&nbsp;</th>
                <th scope="col" style="text-align: left;"><span>Aktionen</span></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let parkingSpace of parkingSpaces; index as i">
                <td>
                    <span class="number">{{ parkingSpace.number }}</span>
                </td>
                <td>
                    <span class="state" [style.background-color]="parkingSpace.status === 'frei' ? 'green' : 'red'">
                      {{ parkingSpace.status }}
                    </span>
                </td>
                <td>
                    <mp-button *ngIf="parkingSpace.status === 'frei'" icon="clock" (click)="book(i)" title="sofort buchen"></mp-button>
                    <mp-button icon="warning" title="Problem melden"></mp-button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
