<div style="text-align: center">
  <h1>Parkplatz buchen</h1>
  <div class="mt-1 mb-1">
    <span style="display: block;" class="mb-2">
      am
      <input [(ngModel)]="day" type="date" required placeholder="Tag" />
      <span class="icon" uk-icon="calendar"></span>
    </span>
    <span style="display: block" class="mb-2">
      ab
      <input [(ngModel)]="time" type="time" required placeholder="Uhrzeit" />
      <span class="icon" uk-icon="clock"></span>
    </span>
    <mp-button *ngIf="!isLoading" (click)="createBooking()" title="Buchung erstellen"></mp-button>
    <mp-loading-spinner [isLoading]="isLoading"></mp-loading-spinner>
  </div>
</div>
